.header__lang-link {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 30px;
    height: 28px;
    color: #FFFFFF;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
    text-decoration-line: underline;
}

@media screen and (max-width: 568px) {

    .header__lang-link {
        
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 640px) {
   
    .header__lang-link {
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
    
}

@media screen and (max-width: 780px) {
    
    .header__lang-link {
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }

}

@media screen and (max-width: 960px) {

    .header__lang-link {
        width: 30px;
        height: 28px;
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 1160px) {
    
    .header__lang-link {
        
        width: 30px;
        height: 28px;
        font-size: 18px;
        line-height: 20px;
    }
}