.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

}

.header {
    margin: 28px 48px 0 48px;
    outline: 1px solid red;
    
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 176px;

}

.header__lang-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__lang-link {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 30px;
    height: 28px;
    color: #FFFFFF;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}


.header__lang-link:first-of-type {
    margin-right: 18px;
    text-decoration-line: underline;
}

.lead {
    margin: 0 auto;
    max-width: 984px;
    height: 1005px;
    margin: 0 auto;
}

.lead__title {
    margin: 0 auto;
    margin-top: 75px;
    width: 720px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: white;

}

.lead__subtitle {
    margin: 0 auto;
    padding-top: 32px;
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
}

.lead__image {
    max-width: 984px;
    height: 615px;
    background-size: cover;
    margin-top: 40px;
}

.lead__caption {
    margin: 8px 974px 0 0;
    width: 158px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    
}

.intro {
    margin: 0;
    margin: 0 442px 0 148px;
    height: 429px;
    width: 690px;
    box-sizing: border-box;
}

.page__intro {
    margin-top: 73px;
}

.intro__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: white;
}

.intro__text {
    margin: 0;
    margin-bottom: 33px;
    width: 690px;
    height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: white;
}

.intro__list {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: white;
    list-style: none;
}

.photo-grid {
    margin: 92px 48px 92px 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 16px;
    box-sizing: border-box;
    justify-content: center;
    
}

.photo-grid__item {
    margin: 0;
    width: 284px;
    height: 213px;

}

.places {
    margin: 0 48px 0 48px;
}

.place {
    width: 984px;
    margin: 0 148px;

    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content max-content;
    grid-template-areas:
        "title website"
        "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
   
    box-sizing: border-box;

}

.page__place {
    margin-bottom: 80px;
}

.page:last-of-type {
    padding-bottom: 0;
}

.page__places {
    margin-top: 92px;
}

.place__title {
    margin: 0;
    padding: 0;
    grid-area: title;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
}

.place__website {
    grid-area: website;
    display: grid;
    align-items: end;

}

.website__url-heading {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: white;
}

.website__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
}

.place__image {
    grid-area: image;
    width: 460px;
    height: 460px;
    background-size: cover;
    object-position: bottom;
}


.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    grid-area: paragraph;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

.cover {
    width: 1184px;
    min-height: 740px;
    margin: 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 245px 312px 245px 312px;
    box-sizing: border-box;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;


}

.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;

}

.page__cover {
    margin-top: 92px;
}

.cover__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-bottom: 32px;

}

.cover__subtitle {
    margin: 0 auto;
    padding: 0;
    width: 360px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;

}

.page__footer {
    margin-top: 92px;
}

.footer {
    width: 1184px;
    display: flex;
    margin: 0 auto;
    padding-top: 88px;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
    list-style: none;

    padding: 0;
}

.footer__nav-link {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    margin-right: 18px;
    text-decoration: none;
}

.footer__nav-link:last-of-type {
    margin-right: 0;
}

.footer__copyright {
    width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media screen and (max-width: 540px) {

    .page {
        width: 100%;

    }

    .header {
        margin: 16px 16px 0 16px;
        outline: 1px solid red;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        max-width: 142px;

    }

    .header__lang-links {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__lang-link {
        margin: 0;
        padding: 0;
        align-items: center;
        width: 22px;
        height: 20px;
        color: #FFFFFF;
        list-style: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        width: 100%;
        height: 406px;
        margin: 0 auto;
    }

    .lead__title {
        margin: 0;
        margin-top: 48px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: white;

    }

    .lead__subtitle {
        margin: 0;
        margin: 16px 16px 0 16px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        color: white;
    }

    .lead__image {
        width: 100%;
        height: 200px;
        background-size: cover;
        margin-top: 40px;
    }

    .lead__caption {
        margin: 8px 146px 0 16px;
        width: 158px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: white;
    }

    .intro {
        margin: 0;
        height: 754px;
    }

    .page__intro {
        margin-top: 64px;
    }

    .intro__title {
        margin: 0 16px 0 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: white;
    }

    .intro__text {
        margin: 0 16px 0 16px;
        padding-top: 40px;
        height: 520px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: white;
    }

    .intro__list {
        margin: 34px 16px 0 16px;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: white;
        list-style: none;
    }

    .photo-grid {
        padding-top: 64px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 12px;
    }

    .photo-grid__item {
        margin: 0;
        margin: 0 16px 0 16px;
        width: 288px;
        height: 216px;

    }

    .place {
        width: 100%;
    }

    .place__title {
        padding-top: 64px;
        padding-bottom: 32px;
        margin: 0 16px 0 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: white;
    }

    .place__website {
        margin: 0 16px 0 16px;
    }

    .website__url-heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        color: white;
    }

    .website__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: white;
    }

    .place__image {
        margin-top: 16px;
        margin-bottom: 32px;
        width: 100%;
        height: 320px;
        background-size: cover;
    }

    .place__paragraph {
        margin: 0 16px 0 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: white;
    }

    .place__paragraph:last-of-type {
        margin-top: 25px;
    }

    .cover {
        width: 100%;
        background-image: url(./images/cover-trains.jpg);
        min-height: 200px;
        background-size: cover;

    }

    .page__cover {
        margin-top: 66px;
    }

    .cover__title {
        margin: 0;
        padding-top: 33px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: white;
    }

    .cover__subtitle {
        margin: 0;
        padding-top: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: white;
    }

    .page__footer {
        margin-top: 64px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }

    .footer__nav-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        padding: 0;
    }

    .footer__nav-link {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: white;
        padding-bottom: 32px;
    }

    .footer__nav-link:last-of-type {
        padding-bottom: 0;
    }

    .footer__copyright {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: white;
    }

}

@media screen and (max-width: 960px) {

    .page {
        width: 100%;

    }

    .header {
        margin: 28px 24px 0 24px;
        outline: 1px solid red;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        max-width: 176px;

    }

    .header__lang-links {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__lang-link {
        margin: 0;
        padding: 0;
        align-items: center;
        width: 30px;
        height: 28px;
        color: #FFFFFF;
        list-style: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .lead {
        width: 100%;
        height: 862px;
        margin: 0 auto;
    }

    .lead__title {
        margin: 0;
        margin-top: 48px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        color: white;

    }

    .lead__subtitle {
        margin: 0;
        margin: 32px 64px 0 64px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.20;
        text-align: center;
        color: white;
    }

    .lead__image {
        width: 100%;
        height: 480px;
        background-size: cover;
        margin-top: 56px;
    }

    .lead__caption {
        margin: 8px 146px 0 16px;
        width: 158px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: white;
    }

    .intro {
        margin: 0;
        height: 429px;
    }

    .page__intro {
        margin-top: 113px;
    }

    .intro__title {
        margin: 0 24px 0 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
        color: white;
    }

    .intro__text {
        margin: 0 24px 0 24px;
        padding-top: 40px;
        height: 208px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: white;
    }

    .intro__list {
        margin: 33px 24px 0 24px;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: white;
        list-style: none;
    }

    .photo-grid {
        padding-top: 88px;
        margin: 0 24px 0 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px 12px;
    }

    .photo-grid__item {
        margin: 0;
        width: 352px;
        height: 264px;

    }

    .places {
        margin: 0 24px 0 24px;
    }

    .place {
        width: 100%;

        display: grid;
        grid-template-columns: 340px 1fr;
        grid-template-rows: 92px 1fr;
        grid-template-areas:
            "title website"
            "image paragraph";
        column-gap: 28px;
        padding-bottom: 73px;
    }

    .place:last-of-type {
        padding-bottom: 0;
    }

    .page__places {
        margin-top: 88px;
    }

    .place__title {
        margin: 0;
        padding: 0;
        grid-area: title;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        color: white;
    }

    .place__website {
        grid-area: website;

    }

    .website__url-heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        color: white;
    }

    .website__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: white;
    }

    .place__image {
        grid-area: image;


        margin-bottom: 32px;
        width: 340px;
        height: 320px;
        background-size: cover;
    }


    .place__paragraph {
        margin: 0;
        margin-bottom: 25px;
        grid-area: paragraph;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: white;
    }

    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }

    .cover {
        width: 100%;
        min-height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 115px 104px 115px 104px;
        box-sizing: border-box;
        background-image: url(./images/cover-trains.jpg);
        background-size: cover;
        box-sizing: border-box;
        position: relative;
        z-index: 0;
        overflow: hidden;
        color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: center;


    }

    .cover:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #2A2C2F;
        opacity: 0.3;
        z-index: -1;

    }

    .page__cover {
        margin-top: 90px;
    }

    .cover__title {
        margin: 0;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        text-align: center;
        color: white;
        padding-bottom: 32px;

    }

    .cover__subtitle {
        margin: 0;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: white;

    }

    .page__footer {
        margin-top: 88px;
    }

    .footer {
        width: 720px;
        display: flex;
        margin: 0 auto;
        padding-top: 88px;
        justify-content: space-between;
    }

    .footer__nav-list {
        display: flex;
        list-style: none;

        padding: 0;
    }

    .footer__nav-link {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: white;
        margin-right: 18px;
    }

    .footer__nav-link:last-of-type {
        margin-right: 0;
    }

    .footer__copyright {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: white;
    }


}

@media screen and (max-width: 1160px) {
    .page {
        width: 100%;

    }

    

    .header__logo {
        max-width: 176px;
    }

    .header__lang-links {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__lang-link {
        margin: 0;
        padding: 0;
        align-items: center;
        width: 30px;
        height: 28px;
        color: #FFFFFF;
        list-style: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        width: 100%;
        height: 962px;
        margin: 0 auto;
    }

    .lead__title {
        margin: 0;
        margin-top: 48px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        color: white;

    }

    .lead__subtitle {
        margin: 0;
        margin: 32px 192px 0 192px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: white;
    }

    .lead__image {
        
        height: 580px;
        background-size: cover;
        margin: 56px 48px 0 48px;
    }

    .lead__caption {
        margin: 8px 146px 0 48px;
        width: 158px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: white;
    }

    .intro {
        margin: 0 286px 0 48px;
        height: 429px;
        width: 690px;
        
    }

    .page__intro {
        padding-top: 92px;
    }

    .intro__title {
        margin: 0;
        margin-right: 286px;
        width: 690px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
        color: white;
    }

    .intro__text {
        margin: 0;
        margin-right: 286px;
        margin-top: 40px;
        
        width: 690px;
        height: 208px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163%;
        color: white;
    }

    .intro__list {
        margin: 0;
        margin-top: 33px;
        padding: 0;
        width: 690px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: white;
        list-style: none;
    }

    .photo-grid {
        margin: 92px 48px 92px 48px;
        
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(4, 1fr);
        gap: 14px 14px;
        box-sizing: border-box;
        justify-content: center;
        
    }

    .photo-grid__item {
        margin: 0;
        width: 300px;
        height: 225px;

    }

    .places {
        margin: 0 48px 0 48px;
    }

    .place {
        width: 100%;

        display: grid;
        grid-template-columns: 440px 1fr;
        grid-template-rows: min-content max-content;
        grid-template-areas:
            "title website"
            "image paragraph";
        column-gap: 32px;
        row-gap: 48px;
        margin-bottom: 80px;
        box-sizing: border-box;

    }

    .place:last-of-type {
        padding-bottom: 0;
    }

    .page__places {
        margin-top: 92px;
    }

    .place__title {
        margin: 0;
        padding: 0;
        grid-area: title;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        color: white;
    }

    .place__website {
        grid-area: website;
        display: grid;
        align-items: end;

    }

    .website__url-heading {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        color: white;
    }

    .website__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: white;
    }

    .place__image {
        grid-area: image;
        width: 440px;
        height: 440px;
        background-size: cover;
        object-position: bottom;
    }


    .place__paragraph {
        margin: 0;
        margin-bottom: 25px;
        grid-area: paragraph;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        color: white;
    }

    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }

    .cover {
        width: 100%;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 195px 232px 195px 232px;
        box-sizing: border-box;
        background-image: url(./images/cover-trains.jpg);
        background-size: cover;
        box-sizing: border-box;
        position: relative;
        z-index: 0;
        overflow: hidden;
        color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: center;


    }

    .cover:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #2A2C2F;
        opacity: 0.3;
        z-index: -1;

    }

    .page__cover {
        margin-top: 92px;
    }

    .cover__title {
        margin: 0;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        text-align: center;
        color: white;
        padding-bottom: 32px;

    }

    .cover__subtitle {
        margin: 0 auto;
        padding: 0;
        width: 360px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: white;

    }

    .page__footer {
        margin-top: 92px;
    }

    .footer {
        width: 928px;
        display: flex;
        margin: 0 auto;
        padding-top: 88px;
        justify-content: space-between;
    }

    .footer__nav-list {
        display: flex;
        list-style: none;

        padding: 0;
    }

    .footer__nav-link {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: white;
        margin-right: 18px;
    }

    .footer__nav-link:last-of-type {
        margin-right: 0;
    }

    .footer__copyright {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: white;
    }

}