.intro__list {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: white;
    list-style: none;
}

@media screen and (max-width: 1160px) {

    .intro__list {
        margin-top: 33px;
    }
}

@media screen and (max-width: 960px) {

    .intro__list {
        margin: 33px 24px 0 24px;
    }
}

@media screen and (max-width: 780px) {

    .intro__list {
        width: 720px;
        height: 90px;
        margin: 0 auto;
        padding-top: 33px;
    }

}

@media screen and (max-width: 568px) {

    .intro__list {
        width: 288px;
        margin: 0 auto;

    }
}