.lead {
    margin: 0 auto;
    max-width: 984px;
    height: 1005px;
    
}

@media screen and (max-width: 568px) {

    .lead {
        margin: 0 auto;
        width: 100%;
        height: 406px;
        
    }
}

@media screen and (max-width: 640px) {
   
    .lead {
        margin: 0 auto;
        width: 100%;
        height: 406px;
        
    }
    
}

@media screen and (max-width: 780px) {
    
    .lead {
        margin: 0 auto;
        width: 100%;
        height: 406px;
        
    }

}

@media screen and (max-width: 960px) {

    .lead {
        margin: 0 auto;
        width: 100%;
        height: 862px;
        
    }
}

@media screen and (max-width: 1160px) {
    
    .lead {
        margin: 0 auto;
        max-width: 928px;
        height: 962px;
        
    }
}