.header {
    max-width: 1184px;
    margin: 28px 48px 0 48px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1160px) {
    
    .header {
        max-width: 1020px;
    }
}

@media screen and (max-width: 960px) {

    .header {
        max-width: 928px;
        margin: 28px 24px 0 24px;        
    }
}

@media screen and (max-width: 780px) {
    
    .header {
        max-width: 720px;
        margin: 28px 24px 0 24px;        
    }

}

@media screen and (max-width: 568px) {

    .header {
        max-width: 520px;
        margin: 16px 16px 0 16px;              
    }
}