.page__intro {
    margin-top: 73px;
}

@media screen and (max-width: 568px) {

    .page__intro {
        margin-top: 64px;
    }
}

@media screen and (max-width: 780px) {
    
    .page__intro {
        margin-top: 64px;
    }

}

@media screen and (max-width: 960px) {

    .page__intro {
        margin-top: 113px;
    }
}

@media screen and (max-width: 1160px) {
    
    .page__intro {
        margin-top: 92px;
    }
}