.footer__nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.footer__nav-link:last-of-type {
    padding-bottom: 0;
}

.footer__nav-link:hover {
    opacity: .5;
}

@media screen and (max-width: 767px) {
    
    .footer__nav-link {
        padding-bottom: 24px;
        margin: 0;
        font-size: 24px;
        line-height: 24px;
    }
}

