.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    grid-area: paragraph;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {

    .place__paragraph {
        font-size: 16px;        
    }
}

@media screen and (max-width: 767px) {

    .place__paragraph {
        max-width: 100%;
        margin-bottom: 25px;
        margin-left: 16px;        
    }
}

