.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    grid-area: paragraph;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: white;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1160px) {

    .place__paragraph {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 960px) {

    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 568px) {

    .place__paragraph {
        max-width: 288px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}