.lead__image {
    margin: 0 auto;
    max-width: 984px;
    height: 615px;
    background-size: cover;    
}

@media screen and (max-width: 1160px) {

    .lead__image {
        width: 928px;
        height: 580px;
    }
}

@media screen and (max-width: 960px) {

    .lead__image {
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 568px) {

    .lead__image {
        height: 200px;        
    }
}