.footer__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 18px;    
}

@media screen and (max-width: 568px) {

    .footer__nav-list {
        flex-direction: column;
        row-gap: 32px;
    }
}

