.lead__figure {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 984px;

}

@media screen and (max-width: 1160px) {

    .lead__figure {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .lead__figure {
        width: 100%;
    }

}

@media screen and (max-width: 780px) {

    .lead__figure {
        width: 100%;
    }

}

@media screen and (max-width: 568px) {

    .lead__figure {
        width: 100%;
    }
}