.place {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content max-content;
    grid-template-areas:
        "title website"
        "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
    margin-bottom: 80px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1160px) {

    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 960px) {

    .place {
        
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
}

@media screen and (max-width: 780px) {

    .place {
        max-width: 720px;
        grid-template-columns: fit-content(340px) 1fr;
        grid-template-rows: max-content min-content;
        margin-bottom: 73px;
    }

}

@media screen and (max-width: 568px) {

    .place {
        width: 100%;
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph";
        grid-template-columns: repeat(1, 1fr);
        row-gap: 32px;
        margin-bottom: 50px;
    }
}