.footer {
    width: 1184px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (max-width: 568px) {

    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) {
    
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
}
}

@media screen and (max-width: 960px) {

    .footer {
        width: 720px;
        display: flex;
        margin: 0 auto;
        padding-top: 88px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1160px) {
    
    .footer {
        width: 928px;
        display: flex;
        margin: 0 auto;
        padding-top: 88px;
        justify-content: space-between;
    }
}