.page__photo-grid {
    padding-top: 92px;
}

@media screen and (max-width: 960px) {

    .page__photo-grid {
        padding-top: 88px;
    }
}


@media screen and (max-width: 780px) {
    
    .page__photo-grid {
        padding-top: 88px;
    }

}

@media screen and (max-width: 568px) {

    .page__photo-grid {
        padding-top: 64px;
    }
}